<% layout(config.site.theme+'/page.ejs') -%>

<section class="block-text-hero">

    <div class="contain">

        <div class="text-left">
            <h1 anim="{'enter':'move-up'}">Page Not Found</h1>
        </div>

    </div>

</section>
