<% layout(config.site.theme+'/page.ejs') -%>

<section class="hero">

    <div class="contain vh-90 flex flex-middle-left">

        <div class="w-60 w-s-100 text-left">
            <h1 anim="{'enter':'move-up'}">Welcome to Framework-33</h1>
            <h4 anim="{'enter':'fade-in','delay':'0.5s'}" class="text-light">A reactive component based CSS and ECMA script boilerplate framework thingy</h4>
        </div>

    </div>

</section>
