<div app-show="view.page == 'details'">

    <div class="checkout-billing">

        <div class="breadcrumbs">
            <a title="Enter your checkout details" class="active">Details</a>
            <a title="Select delivery method" app-click="checkout()">Delivery</a>
            <span title="Pay for your items">Payment</span>
        </div>

        <h2 class="h4">Enter your details</h2>

        <form autocomplete="on">
            <div class="flex my-1">

                <div class="flex-1 mr-1">
                    <label>Title</label>
                    <select class="rounded" app-model="cart.customer.title">
                        <option selected disabled value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Dr">Dr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                </div>
                <div class="flex-2">
                    <label>Full Name</label>
                    <input type="text" class="rounded" name="name" autocomplete="name" app-model="cart.customer.name">
                </div>

            </div>

            <label>Mobile Number</label>
            <input type="text" class="rounded mb-1" name="tel" app-model="cart.customer.tel" autocomplete="tel">
            <label>Email Address</label>
            <input type="text" class="rounded" name="email" app-model="cart.customer.email" autocomplete="email">

            <p class="notification-title">Where shall we send notifications about your order?</p>
            <div class="grid col-2 gap-1">


                <button class="btn" app-class="{'bg-secondary':cart.customer.notification_method == 'sms'}" app-click="cart.customer.notification_method = 'sms'">SMS / Text</button>
                <button class="btn" app-class="{'bg-secondary':cart.customer.notification_method == 'email'}" app-click="cart.customer.notification_method = 'email'">Email</button>
            </div>



        </form>

        <div class="nav-buttons">
            <div></div>
            <div>
                <button class="btn bg-secondary text-weight-700" app-click="checkout()">Next <span class="icon right white arrowright"></span></button>
            </div>
        </div>
    </div>

</div>
