<div class="checkout-items">

    <div class="breadcrumbs">
        <span class="active">Basket</span>
    </div>

    <h1 class="h4">Your Items</h1>

    <div class="checkout-items-wrap">
        <div class="checkout-items-item" app-for="item in cart.items">
            <div class="thumbnail"><img src="/images/Product_Placeholder.svg" app-src="item.thumbnail"></div>
            <div class="details">
                <div class="product">
                    <a app-attr="{'href':item.slug}" app-bind="item.name"></a>

                </div>
                <div class="actions">
                    <div class="quantity">
                        <button class="decrease-item" app-click="removeFromCart(item)">-</button>
                        <div class="item-quantity" app-bind="item.quantity"></div>
                        <button class="increase-item" app-click="addToCart(item)">+</button>
                        <a class="remove" app-click="removeFromCart(item, 'true')">Remove</a>
                    </div>
                    <div class="price"><span app-bind="parseCurrency(item)"></span></div>

                </div>
            </div>
        </div>
    </div>

    <div class="checkout-totals-wrap">
        <div class="grid col-2 gap-1" app-show="cart.shipping_method">
            <div class="text-left">Shipping: <span app-bind="cart.shipping_method"></span></div>
            <div class="text-right text-weight-700"><span app-bind="parseCurrency(cart.shipping_total)"></span></div>
        </div>

        <div class="grid col-2 gap-1 mb-2">

            <div class="text-weight-700">Total</div>
            <div class="text-right text-weight-700 h5"><span app-bind="parseCurrency(cart.total)"></span></div>

        </div>
    </div>



</div>
