<div app-show="view.page == 'gateways'">

    <h2 class="h4">Select Payment Method</h2>

    <div class="mt-1">

        <% transactions.payment_methods.forEach((gateway)=>{ %>

            <% if (gateway.name == 'Stripe'){ %>

                <a class="btn bg-secondary w-100 mb-1" href="/checkout/stripe"><% if (gateway.button_text){ %><%- gateway.button_text %><% } else { %><%- gateway.name %><% } %></a>

            <% } else if (gateway.name == 'Paypal'){ %>

                <div id="paypal-button-container"></div>

                <script src="https://www.paypal.com/sdk/js?client-id=<%- gateway.client_id %>&currency=GBP"> // Replace YOUR_CLIENT_ID with your sandbox client ID
                    </script>

                    <!-- Add the checkout buttons, set up the order and approve the order -->
                    <script>
                      paypal.Buttons({
                        createOrder: function(data, actions) {
                          return actions.order.create({
                            purchase_units: [{
                              amount: {
                                value: (scope.cart.total/100).toFixed(2)
                              }
                            }]
                          });
                        },
                        onApprove: function(data, actions) {
                          return actions.order.capture().then(function(details) {
                            window.location.href = '/checkout/paypal/'+details.id;
                          });
                        }
                      }).render('#paypal-button-container'); // Display payment options on your web page
                    </script>

            <% } %>

        <% }) %>

    </div>

    <a class="block mt-5 text-left" app-click="view.page = 'shipping'"><i class="fas fa-chevron-left mr-1"></i>Shipping Address</a>

</div>
