<section class="h-30 h-s-20 bg-33-sunrise flex flex-middle text-33-white py-5" app-block="hero" app-block-description="This is a hero block">

    <div class="contain flex transparent-2">
        <div class="text-left text-center-m flex-2">
            <h1 class="text-size-5 text-size-s-3 overflow-hidden" app-input="text" app-field="h1"><%- data.h1 %></h1>
            <h4 class="text-light" anim="{'enter':'fade-in','exit':'fade-out','duration':'1s','easing':'ease', 'delay':'0.5s'}" app-input="text" app-field="h4"><%- data.h4 %></h4>
            <h4 class="text-light" anim="{'enter':'move-down','exit':'fade-out','duration':'1s','easing':'ease','delay':'1.5s'}" app-input="text" app-field="link"><%- data.link %></a>
        </div>

        <div class="text-right flex-1 hidden-m hidden-s">
        </div>
    </div>

</section>
