<section class="py-2" app-block="Text Single Column" app-block-description="This is a single column text block">

    <div class="contain text-left mt-1">

        <h4 class="text-light mb-1" app-input="text" app-field="sub_heading"><%- data.sub_heading %></h4>
        <p class="text-pre-line" app-input="textarea" app-field="text"><%- data.text %></a>

    </div>

</section>
