<% layout(config.site.theme+'/page.ejs') -%>

<% var carousel = false; var h1 = false %>

<% if (typeof pages != 'undefined' && pages.notification && pages.notification.length > 0) { %>
    <section class="page-notification">
        <div class="contain">
            <%- pages.notification %>
        </div>
    </section>
<% } %>


<div class="page">

    <% for (var i in pages.blocks){ %>

        <% pages.blocks[i].pages = {} %>
        <% for (var ii in pages.blocks[i].fields){ %>
            <% pages.blocks[i].pages[pages.blocks[i].fields[ii].field] = pages.blocks[i].fields[ii].value %>
            <% pages.blocks[i].pages[pages.blocks[i].fields[ii].field+'_classes'] = pages.blocks[i].fields[ii].classes %>
        <% } %>

        <% var next = i; next++ %>

        <% if (pages.blocks[i].styling && pages.blocks[i].styling.carousel && pages.blocks[i].styling.carousel === true){ %>

            <% if (carousel === false){ %>

                <section>

                    <div class="carousel align-middle" data-auto-slide="5">

                        <div class="arrow arrow-left" onclick="chgSlide(this,'prev')"></div>

                        <div class="slides">

            <% } %>

            <% carousel = true %>

                            <div class="slide">
                                <%- include(config.site.theme_path+'/templates/blocks/'+pages.blocks[i].folder+'/'+pages.blocks[i].block+'.ejs', {data:pages.blocks[i].pages, styling:pages.blocks[i].styling, h1: h1}) %>
                                <% if (pages.blocks[i].pages.heading){ h1 = true } %>
                            </div>

            <% if (!pages.blocks[next] || pages.blocks[next] && !pages.blocks[next].styling || pages.blocks[next].styling && !pages.blocks[next].styling.carousel){ %>

                        </div>

                        <div class="arrow arrow-right" onclick="chgSlide(this,'next')"></div>
                        <div class="dots"></div>

                    </div>


                </section>

                <% carousel = false %>

            <% } %>

        <% } else { %>

            <%- include(config.site.theme_path+'/templates/blocks/'+pages.blocks[i].folder+'/'+pages.blocks[i].block+'.ejs', {data:pages.blocks[i].pages, styling:pages.blocks[i].styling, h1: h1}) %>
            <% if (pages.blocks[i].pages.heading){ h1 = true } %>

        <% } %>

    <% } %>

</div>
