<% layout(config.site.theme+'/page.ejs') -%>

<section class="page half-n-half">

    <div class="contain text-left h-100 relative layer-1">

        <section class="checkout">

            <%- include('partials/client_items.ejs') %>

            <div class="checkout-details">
                <%- include('partials/client_billing.ejs') %>
                <%- include('partials/client_shipping.ejs') %>
                <%- include('partials/client_gateways.ejs') %>
            </div>

        </section>
    </div>

</section>
