<% layout(config.site.theme+'/page.ejs') -%>

<section class="page bg-cream-3">

    <div class="contain text-left">

        <section class="py-6">

            <% if (typeof transaction == 'object' && transaction.data){ %>
                <div class="">
                    <h1 class="slab mb-3">Lovely! Your choccy is ordered</h1>
                    <div class="w-50">
                        <p class="museo h5">Your order number is <span class="h4 slab"><%- transaction.data.reference %></span></p>
                        <p class="museo h5">We’ll send you an email or text message to confirm your order, and another one to tell you when it’s been dispatched!</p>
                    </div>

                    <a class="mt-3 btn bg-border" href="/shop">Show me more<span class="icon handpoint right secondary"></span></a>
                </div>
            <% } %>

        </section>
    </div>

</section>
