<div class="layer-1 field">

    <label class=" capitalise">Add a notification to this page (400 chars. max)</label>

    <div class="input-contenteditable field-content">

        <div class="input-contenteditable-wrap">
            <%- include(view.basedir+'/themes/'+config.site.dashboard_theme+'/partials/editor_buttons.ejs',{editor_button_type:"simple"}) %>
            <div id="pages_notification" class="large resize contenteditable" app-model="view.pages.notification" contenteditable="true"></div>
        </div>
    </div>

    <div class="text-right text-small mt-05">
        <a app-click="removeNotification()"><i class="fas fa-times"></i> Remove Notification</a>
    </div>
</div>
