<div class="field">
    <label>Hide site nav bar</label>
    <label style="font-weight: normal; font-style: italic"><input type="checkbox" class="border" app-model="view.pages.hide_top_nav"> Select this option to hide the menu at the top of the page</label>
</div>

<div class="field">
    <label>Secondary Theme</label>
    <label style="font-weight: normal; font-style: italic"><input type="checkbox" class="border" app-model="view.pages.secondary_theme"> Change the default colours on this page to a secondary theme</label>
</div>

<div class="field">
    <label>Save as template</label>
    <a app-click="savePage(true)" class="btn bg-secondary">Save as template</a>
</div>
