<div class="field">
    <label class="">Title</label>
    <input type="text" placeholder="SEO Page Title" app-model="view.pages.meta.title">
</div>

<div class="field">
    <div class="float-right text-small pr-1" app-bind="view.pages.meta.description.length"></div>
    <label class="">Descripton (160 chars. max)</label>
    <textarea app-model="view.pages.meta.description" placeholder="SEO Meta Description"></textarea>
</div>
