<% layout('default/fullscreen.ejs') -%>

<%- include default/partials/top_nav.ejs %>

<div class="vh-100 vw-100 flex flex-middle">
    <div class="vw-30 vw-s-100 px-s-2 text-left">

        <h1 class="text-light mb-2">Sign Up</h1>

        <form method="post" action="/login/register" class="grid col-1 col-s-1 gap-1">

            <input type="text" name="email" placeholder="Email Address" class="border">


            <input type="password" name="password" placeholder="Password" class="border">
            <input type="password" name="password_conf" placeholder="Confirm Password" class="border">

            <input type="submit" class="btn bg-33-topaz w-100" value="Sign Up!">

            <div class="text-center">
                <a class="btn outline w-100" href="/login/<%- guard %>">Have an account? Login</a>
            </div>

        </form>

        <div class="colspan-2 text-33-red" style="min-height: 2rem">
            <% if (typeof error != 'undefined'){ %>
                <%- error %>
            <% } %>
        </div>

    </div>
</div>
