.avatar {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    &.lg {
        height: 6rem;
        width: 6rem;
    }

    &.sm {
        height: 2rem;
        width: 2rem;
    }

    &.xsm {
        height: 1rem;
        width: 1rem;
    }
}
