label {
    font-size: 0.8rem;
    color: $text-grey;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

input.underline, select.underline, textarea.underline {
    background: none;
    text-decoration: none !important;
    border-bottom: 1px solid $color-mid-light-grey;
    padding: 0 !important;
    height: 3.5rem !important;
}
