body:not(.dashboard){

    .page {
        min-height: calc(100vh - 14rem);
        margin-top: $top-nav-height;

        & .h-100 {
            min-height: calc(100vh - 14rem);
        }
    }

}

figure {
    margin:0;
}
