.notification {

    color: white;
    background-color: #00d6c6;
    border-radius: $border-radius;
    box-shadow: $shadow;

    .icon {
        display:flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 1.6rem;
    }

    @media $small {
        max-width: 100vw;
    }

    &.error {
        color: white;
        background-color: #FF8C8D
    }

    &.success {
        color: white;
        background-color: #00D6C6
    }

    &-bar {
        background-color: white;
        white-space: normal;
        position: fixed;
        top:0;
        right:0;
        width: 30em;
        height: 100vh;
        padding: 1.313rem;
        z-index: 500;
        box-shadow: $shadow;

        .notification-wrap {
            height: calc(100vh - 4rem);
            overflow-y: auto;
        }

        & * {
            white-space: normal !important;
        }
    }
}
