$desktop-1080p-width = 1920px;
$tablet-width = 1180px;
$phone-width = 851px;

$desktop-4k = '(min-width: '+$desktop-1080p-width+')'
$desktop-1080p = '(min-width: '+$tablet-width+') and (max-width: '+$desktop-1080p-width+')'
$desktop = '(min-width: '+$tablet-width+')'
$medium = '(min-width: '+ $phone-width +') and (max-width: '+$tablet-width+')'
$small = 'only screen and (max-width: '+ $phone-width +')'

$dashboard-color-primary = #FD7278
$dashboard-color-secondary = #FD7278



$dashboard-color-light-grey = #F1F5F9
$dashboard-color-light-grey2 = #F9FAFB
$dashboard-color-mid-light-grey = #DDDDDD
$dashboard-color-grey = #A0A0A0
$dashboard-color-red = #9a3535
    $dashboard-color-green = #359a58
$dashboard-color-blue = #35769a
$dashboard-color-dark-grey = #383F47
$dashboard-color-black = #444
$dashboard-color-white = #fff

$dashboard-color-success = #4ec17c
$dashboard-color-error = #FD7278

$dashboard-text-primary = $dashboard-color-primary
$dashboard-text-secondary = $dashboard-color-secondary
$dashboard-text-black = $dashboard-color-dark-grey
$dashboard-text-light-grey = $dashboard-color-light-grey
$dashboard-text-grey = $dashboard-color-grey
$dashboard-text-dark-grey = $dashboard-color-dark-grey
$dashboard-text-white = $dashboard-color-white

$dashboard-bg-primary = $dashboard-color-primary
$dashboard-bg-secondary = $dashboard-color-secondary
$dashboard-bg-white = $dashboard-color-white
$dashboard-bg-light-grey = $dashboard-color-light-grey
$dashboard-bg-dark-grey = $dashboard-color-dark-grey
$dashboard-bg-black = $dashboard-color-black

$dashboard-mobile-row-height = 4rem
$dashboard-desktop-row-height = 4.9rem
$dashboard-mobile-tabs-height =  3.125rem
$dashboard-row-border = 1px solid #EAEAEA
$dashboard-input-height = 2.5rem

$dashboard-side-nav-width = 4.4rem
$dashboard-side-nav-width-open = 18rem
$dashboard-header-height = 4.4rem

$bg-paid = #1dd582
$bg-processing = #c1d51d
$bg-shipped = #d5701d

$shadow =  0px 15px 7px -10px rgba(0, 0, 0, 0.2);
$shadow-lg =  4px 17px 56px -5px rgba(0,0,0,0.75);
$border-radius = 6px

$top-nav-height = 4rem
