<% layout('default/dashboard.ejs') -%>

    <div class="grid col-3 gap-2">

        <div class="colspan-3 mb-2">
            <h3>Content</h3>
        </div>

        <div class"">
            <h4 class="mb-1">New Content Type</h4>
            <div class="flex">
                <input type="text" app-model="new.type"><button class="btn highlight" app-click="addType()">Add</button>
            </div>
        </div>

        <div class="colspan-2" app-init="get('content_types')">
            <h4 class="mb-1">Content Types</h4>

            <div class="table">

                <div class="row" app-for="type in content_types">
                    <div class="cell middle">
                        <a app-click="goto('content',type.type)" class="capitalise text-bold" app-bind="type.type"></a>
                    </div>
                    <div class="cell middle text-center" app-bind="type.slug">
                    </div>
                    <div class="cell middle text-center capitalise">
                    </div>
                    <div class="cell middle text-right" app-attr="{id:'cell-'+type._key}">

                        <div class="context-link btn bg-33-white text-secondary" app-click="toggleContext('context',type)">
                            <i class="fas fa-chevron-down"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="context" class="context dropdown text-left" style="display: none">
        <div class="link" app-click="editItem('content_types',context)">
            <i class="fas fa-pen-alt"></i>
            Edit
        </div>
        <div class="link" app-click="deleteItem('content_types',context)">
            <i class="fas fa-trash"></i>
            Delete
        </div>
    </div>
