
<modal-auto app-show="view.modal == 'delete_confirm'" data-title="Delete <%- view.functions.parseName(table, true) %>">

        <div class="grid col-4 pb-1 gap-2">

            <div class="colspan-2 text-right pt-1 mt-s-3">
                <a class="btn bg-white w-100" app-click="openModal(false)">
                    Cancel
                </a>
            </div>

            <div class="colspan-2 text-right pt-1 mt-s-3">
                <a class="btn highlight w-100" app-click="deleteItem('<%- table %>')">
                    Delete
                </a>
            </div>
        </div>

</modal-auto>
