<modal-auto app-show="view.modal == 'addCTA'" data-title="Insert a call to action">

    <div class="grid col-2 gap-2 my-2">
        <div>
            <label>URL</label>
            <input type="text" app-model="exec_data.url">
        </div>
        <div>
            <label>Button Text</label>
            <input type="text" app-model="exec_data.text">
        </div>
        <div>
            <label>Alignment</label>
            <dropdown-select app-model="exec_data.align">
                <div value="center" class="option">
                    <div>Center</div>
                </div>
                <div value="left" class="option">
                    <div>Left</div>
                </div>
                <div value="right" class="option">
                    <div>Right</div>
                </div>
            </dropdown-select>
        </div>

        <div>
            <label>Icon</label>
            <dropdown-select app-model="exec_data.icon">
                <div app-for="icon in view.icons" app-attr="{'value':icon}" class="option">
                    <div><span class="icon right primary" app-class="icon"></span></div>
                    <div app-bind="icon"></div>
                </div>
            </dropdown-select>
        </div>
        <div class="colspan-2">
            <label>Classes</label>
            <input type="text" app-model="exec_data.classes">
        </div>
    </div>

    <div class="grid col-4 pb-1 gap-2">

        <div class="colspan-2 text-right pt-1 mt-s-3">
            <a class="btn bg-white w-100" app-click="closeModal()">
                Cancel
            </a>
        </div>

        <div class="colspan-2 text-right pt-1 mt-s-3">
            <a class="btn highlight w-100" app-click="exec('addCTA',exec_data)">
                <span app-hide="exec_data.id">Insert</span>
                <span app-show="exec_data.id">Update</span>
            </a>
        </div>
    </div>

</modal-auto>
