
<modal-auto app-show="view.modal == 'show_media_library'" data-title="Insert or upload new media" class="modal-auto-large">

    <div class="grid col-2">
        <div class="flex button-wrap">
            <button class="btn bg-white flex-none pr-0"><span class="icon search m-0 black"></span></button>
            <input type="text" app-change="search('media_library')" placeholder="Search Media" class="flex-1 rounded" <% if (typeof table != 'undefined'){ %>value="<%- table %>"<% } %>>
            <a href="/dashboard/media-library" class="btn bg-white flex-none">Media Library<span class="icon arrowright right black"></span></a>
        </div>
        <div class="flex-middle-right">
            <div class="flex flex-row mb-1">
                <label for="new_image" class="btn bg-primary text-white">Upload <i class="fas fa-image ml-1"></i></label>
                <input type="file" app-change="uploadMedia(<% if (typeof table != 'undefined'){ %>'<%- table %>'<% } else { %><% } %>)" id="new_image" name="new_image" style="display: none">
            </div>
        </div>
    </div>

    <div class="grid-wrap">
        <div class="grid compact">
            <div class="grid-item" app-for="media in media_library"><img app-src="media.thumbnail" class="object-fit" app-click="insertMedia(media)"></div>
        </div>
    </div>


</modal-auto>
