<% var obj = item.name.toLowerCase(); var colspan = 2; %>
<div class="input-object">
    <div class="colspan-3">
        <h4><%- view.functions.parseName(item.name) %></h4>
    </div>


    <% item.subitems.forEach((subitem,i)=>{ %>

        <% var max_characters = ""; max_chars_text = ""; %>
        <% if (typeof item.truncate != 'undefined'){ %>
            <% max_characters = '<div class="float-right text-small pr-1"><span app-bind="new.'+ item.name +'.length"></span>/'+item.truncate+' chars</div>' %>
        <% } %>

        <%- include(view.basedir+'/themes/'+config.site.theme+'/partials/input_fields/include_fields.ejs', {item:subitem, max_characters:max_characters, obj_prefix:item.name}) %>

    <% }) %>

</div>
