<section class="<% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Model Carousel" app-block-description="This is a carousel block which displays data from the database" app-init="get('<%- data.api_address %>','','carousel_items')" app-input="text" app-field="api_address">


        <div class="carousel align-middle" data-auto-slide="5" app-input="text">

            <div class="arrow arrow-left" onclick="chgSlide(this,'prev')"></div>

            <div class="slides">

                <div class="slide" app-for="item in carousel_items">
                    <div class="contain py-6 <%- data.container_classes %>">

                        <h2 app-bind="item.name"></h2>
                        <p app-bind="item.description"></p>
                        <a app-attr="{'href':item.url}" class="btn bg-primary thick rounded mt-1">View More</a>

                    </div>
                </div>

            </div>

            <div class="arrow arrow-right" onclick="chgSlide(this,'next')"></div>
            <div class="dots"></div>

        </div>


</section>
