<footer>

    <div class="contain grid col-2 col-s-1 py-5">


        <div>

        </div>
        <div class="text-right">
            <%- include('partials/menu.ejs',{menu:view.menus.footer}) %>
        </div>

    </div>

</footer>
