    <div class="side-nav" app-class="{'expand':view.side_nav == true}">

        <div class="header">
            <div class="title">
                <div class="burger colspan-1" app-click="view.side_nav = !view.side_nav">
                    <span class="icon x white"></span>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="avatar">
                <% if (view.user.avatar){ %>
                    <img src="<%- view.user.avatar %>" >
                <% } else if (typeof view != 'undefined' && view.logo){ %>
                    <img src="<%- view.logo %>">
                <% } else { %>
                    <img src="/images/Profile_Placeholder.svg">
                <% } %>
            </div>

            <div class="text">
                <a>My Profile</a>
                <a href="/logout">Sign Out</a>
            </div>
        </div>

        <div class="links">
            <%- include(config.site.dashboard_theme_path+'/partials/menu.ejs',{menu:view.menus.side_nav}) %>
        </div>

    </div>
