
        <div class="logo">
            <a href="/"><img src="/images/logo.svg"></a>
        </div>

        <div class="">
            <%- include('partials/menu.ejs',{menu:view.menus.side_nav}) %>
        </div>
