<% if (typeof content != 'undefined' && content.notification.length > 0) { %>
    <section class="page-notification">
        <div class="contain">
            <%- content.notification %>
        </div>
    </section>
<% } %>
<section class="nav bg-33-frosted-light">

    <div class="contain h-100 grid col-4">

        <div class="link text-left">
            <a href="/" class="logo"><% if (typeof view != 'undefined' && view.logo){ %><img src="<%- view.logo %>"><% } %></a>
        </div>

        <div class="colspan-3 text-right overflow-x">
            <%- include('default/partials/menu.ejs',{menu:view.menus.nav}) %>
        </div>

    </div>

</section>
