<% if (typeof content != 'undefined' && content.notification && content.notification.length > 0) { %>
    <section class="page-notification">
        <div class="contain">
            <%- content.notification %>
        </div>
    </section>
<% } %>
<section class="nav bg-33-frosted-light auto-hide">

    <div class="contain h-100 grid col-4">

        <div class="link text-left logo">
            <a href="/" class="logo"><% if (typeof view != 'undefined' && view.logo){ %><img src="<%- view.logo %>"><% } %></a>
        </div>

        <div class="links colspan-3 text-right overflow-x">
            <%- include('default/partials/menu.ejs',{menu:view.menus.nav}) %>
        </div>

        <div class="burger colspan-1 flex flex-middle-right" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>

    </div>

</section>

<section class="mega-menu">

    <div class="clickable flex flex-middle-right mb-2 text-white text-big" onclick="toggleMenu()">
        <i class="fas fa-times"></i>
    </div>

    <%- include('default/partials/menu.ejs',{menu:view.menus.nav}) %>

</section>
