<% layout(config.site.theme+'/dashboard.ejs') -%>

    <div class="header">
        <div class="title">
            <h1 class="capitalise">Dashboard</h1>
        </div>
        <div class="buttons">

        </div>
    </div>

    <div class="actions">

        <div class="tabs">
            <% if (typeof fields == 'object') { %>
                <% for (var tab in fields){ %>
                    <a app-click="view.edit_tab = '<%- tab %>'" app-class="{'active':view.edit_tab == '<%- tab %>'}" class="capitalise"><%- view.functions.parseName(tab) %></a>
                <% } %>
            <% } %>
        </div>

    </div>

    <div class="edit-wrap">

    </div>
