<% layout('default/dashboard.ejs') -%>

    <h3 class="mb-3">Dashboard</h3>

    <div class="grid col-2 row-4 gap-2">

        <div class="widget rowspan-2">

        </div>
        <div class="widget">
            <p class="text-weight-500">Widget</p>
        </div>

        <div class="widget">
            <p class="text-weight-500">Widget</p>
        </div>

        <div class="widget">
            <p class="text-weight-500">Widget</p>
        </div>

        <div class="widget">
            <p class="text-weight-500">Widget</p>
        </div>

    </div>
