<% layout(config.site.dashboard_theme+'/dashboard.ejs') %>

    <%- include(basedir+'/components/dashboard/views/partials/page_header.ejs') %>
    
    <div class="actions">

        <div class="tabs">
            <% if (typeof tabs != 'undefined'){ %>
                <% tabs.forEach(tab => { %>
                    <a href="<%- tab.href %>" class="<% if (title.toLowerCase() == tab.text.toLowerCase() || view.current_sub_view.toLowerCase() == tab.text.toLowerCase()){ %>active<% } %>"><%- tab.text %></a>
                <% }) %>
            <% } %>
        </div>

    </div>
