<% layout(config.site.dashboard_theme+'/dashboard-fullscreen.ejs') -%>

<div class="authentication wrapper">

    <div class="col-form">

        <div class="form relative">

            <% if (typeof user != 'undefined'){ %>

                <h1 class="text-light mb-3">Account Activated!</h1>
                <a class="btn highlight w-100" href="/login">Please Login</a>

            <% } else if (typeof error != 'undefined'){ %>

                <h1 class="text-light mb-1">Hmmm...</h1>
                <p class="text-weight-500">Looks like we've had trouble activating your account</p>
                <div class="error"><%- error %></div>
                <a class="btn highlight w-100" href="/login/reset">Trouble logging in?</a>

            <% } %>

            <div class="logo-wrap">
                <span class="icon melded grey logo-size"></span>
                <div class="text-small">by Marimo</div>
            </div>

        </div>

    </div>

    <div class="col-image">



    </div>

</div>
