<% layout(config.site.dashboard_theme+'/dashboard-fullscreen.ejs') -%>

<div class="authentication wrapper">

    <div class="col-form">

        <div class="form relative">

            <h1 class="text-light capitalise my-4"><%- view.functions.depluralise(guard) %> Login</h1>

            <% if (typeof error != 'undefined'){ %>
                <div class="error">
                    <%- error %>
                </div>
            <% } %>

            <form method="post" action="/login/<%- guard %>" class="w-100">
                <div class="mb-15">
                    <input type="text" name="email" class="rounded placeholder-normal" placeholder="Email Address">
                </div>
                <div class="">
                    <input type="password" class="rounded placeholder-normal" name="password" placeholder="Password">
                    <a class="text-grey mt-15 block" href="/login/<%- guard %>/reset">Forgot password?</a>
                </div>
                <div class="mt-3 mb-15">
                    <input type="submit" class="btn highlight thick w-100" value="Login">
                </div>
                <div class="text-center">
                    <a class="btn bg-white w-100 text-bold" href="/login/register">Sign Up</a>
                </div>
            </form>

            <div class="logo-wrap">
                <span class="icon melded grey logo-size"></span>
                <div class="text-small">by Marimo</div>
            </div>

        </div>

    </div>

    <div class="col-image">



    </div>

</div>
