<% layout(config.site.theme+'/fullscreen.ejs') -%>

<div class="page grid col-2 col-s-1">

    <div class="flex flex-middle-left flex-column px-9 px-s-2">

        <div class="flex-none grid col-2 w-100 mt-4 text-left">

            <div>
                <a href="/" class="block"><% if (typeof view != 'undefined' && view.logo){ %><img src="<%- view.logo %>" class="logo"><% } %></a>
            </div>
            <div class="flex flex-middle-right">
                <% if (view.users.allow_registration === true){ %>
                    <a href="/login">Log In</a>
                <% } %>
            </div>

        </div>

        <div class="flex-5 flex flex-column flex-middle-left w-100 mb-4 text-left">

            <h1 class="text-light mb-2">Sign Up</h1>

            <% if (typeof error != 'undefined'){ %>
                <div class="mb-2 text-33-red">
                    <%- error %>
                </div>
            <% } %>

            <form id="register" method="post" action="/login/register" class="grid col-1 col-s-1 gap-1 w-100">

                <input type="text" name="full name" placeholder="Your Full Name" class="underline">

                <input id="email" type="text" name="email" placeholder="Email Address" class="underline">

                <input type="password" name="password" placeholder="Password" class="underline">
                <input type="password" name="password_conf" placeholder="Confirm Password" class="underline">

                <input type="submit" class="mt-2 btn highlight thick w-100" value="Sign Up!">

                <div class="text-center">
                    <a class="" href="/login/<%- guard %>">Have an account? Login</a>
                </div>

            </form>

        </div>

    </div>

    <div class="bg-33-dream flex flex-middle-left flex-column p-6 p-s-2">



    </div>

</div>

<script>

    window.onload = function(evt){
        if (localStorage.getItem('register_email')){
            document.getElementById('email').value = localStorage.getItem('register_email')
            localStorage.removeItem('register_email')
        }
    }

    document.getElementById('register').addEventListener('submit', function(evt){
        localStorage.setItem('register_email',document.getElementById('email').value)
    })

</script>
