#menu-cart {
    position: relative;
}

#cart-counter {
    color: white;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    min-width: 1rem;
    width: auto;
    border-radius: 0.75rem;
    padding: 0 0.2rem;
    font-size: 0.6rem;
    line-height: 1rem;
    position: absolute;
    right:0.3rem;
    top:1rem;
}
