a {
    color: $color-secondary;

    &:hover {
        color: $color-primary;
    }
}

.text {
    &-primary {
        color: $color-primary;
    }

    &-secondary {
        color: $color-secondary;
    }
}

.bg {
    &-light-grey {
        background-color: $bg-light-grey
    }
    &-primary {
        background-color: $color-primary;
    }

    &-secondary {
        background-color: $color-secondary;
    }
}

.btn {
    &:hover {
        color:white;
    }

    &.highlight {
        background-color: $color-primary
    }

    &.border {
        background: none;
        border: 1px solid $color-primary;
        color: $color-primary;
    }
}
 
