.comma-list {

    &-item {
        &:after {
            content: ', '
            position: relative;
            margin-left: -0.2rem
        }

        &:last-child:after {
            content: ''
        }
    }

}
