.datepicker {

    position: absolute;
    background-color: white;
    padding: 1.563rem;
    z-index:999;
    -webkit-box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.26);
    font-size: 0.938rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid $color-primary;
    color: $text-dark !important;

    & > .grid {
        min-width: 30rem;
    }

    .dates {
         min-width: calc(3em * 7)
    }

    &.simple {
        top: 0;
    }

    &-select {
        color: $text-primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 2.188rem;
        padding: 0 1.2rem;
        font-size: 0.9em

        .thick {
            height: 3rem!important;
        }
    }

    .time-select {
        height: 20rem;
        overflow-y: scroll;
        text-align: right;
        border-left: 1px solid #f2f2f2;

        .clickable {
            padding: 0.5rem;
        }

        .start_time {
            background-color: #00D6C6;
            color: white;
            border-radius: 50%;
        }

        .end_time {
            background-color: #FF8C8D;
            color: white;
            border-radius: 50%;
        }
    }

    &.relative {
        top:0;
        z-index:1;
        position: relative !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        min-width: auto;

        .dates {
            padding-right: 0rem;
        }
    }

    .btn-wrap {
        margin:0 0 0.75rem 0 !important;
        white-space: nowrap;
    }

    .buttons {
        padding-left: 1.563rem;
    }

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 3em;
        cursor: pointer;
        margin: auto

        .today {
            background-color: rgba(216, 209, 218,0.2);
            border-radius: 50%;
        }

        .selected {
            background-color: $color-primary;
            color: white;
            border-radius: 50%;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .day {
            font-size: 0.875rem;
            color: $text-grey;
            opacity: 0.5;

            &:hover {
                background: none;
                color: $text-grey;
            }
        }

        .reg {
            color: $text-black;
            opacity: 1;

            &:hover {
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
            }
        }

        .pre, .passed, .post {
            color: $text-grey;
            opacity: 0.75

            &:hover {
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
            }
        }
    }

}
