label {
    font-size: 0.8rem;
    color: $text-black;
    display: block;
    margin-bottom: 0.3rem;

    &.checkbox {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 0.4rem;
        margin-bottom: 0;

        p {
            flex: 1;
        }
    }
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

input.underline, select.underline, textarea.underline {
    background: none;
    text-decoration: none !important;
    border-bottom: 1px solid $color-mid-light-grey;
    padding: 0 !important;
    height: 3.5rem !important;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

div[contenteditable=true]{
    background-color: white;
    width: 100%;
    min-height: 10rem;
}

div[contenteditable=true]:hover {
    background-color: white;
}

input.invalid, textarea.invalid, select.invalid {
    border: 2px solid #de4848 !important
}

input[disabled], select option[disabled] {
    background-color: rgba(255,255,255,0.5);
}

input[type="text"].border,input[type="select"].border,input[type="password"].border {
    border: 0.01rem solid $color-mid-light-grey;
}

input[type=checkbox] {

    flex: none;
    position: relative;
    width: 1.70rem;
    height: 1.70rem;
    vertical-align: middle;

    &:after {
        content:'';
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 0.25rem;
        left: -1px;
        background-color: white;
        color: $text-primary;
        font-size: 1.25rem;
    }

    &.border {
        &:after {
            border: 0.01rem solid $color-mid-light-grey;
        }
    }

    &:checked {
        &:after {
            content:'\2713';
            border: 1px solid $color-primary;
        }
    }

    &.invalid:after {
        border: 2px solid #de4848 !important
    }
}
