html, body {
    overflow-x: hidden;
}

body {

    &:not(.dashboard):not(.fullscreen){
        .page {
            min-height: calc(100vh - 14rem);

            & > .h-100 {
                min-height: calc(100vh - 14rem);
            }

            &.half-n-half {
                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56.5%, rgba(245, 248, 249,1) 56.5%, rgba(245, 248, 249,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(56.5%, rgba(255,255,255,1)), color-stop(56.5%, rgba(245, 248, 249,1)), color-stop(100%, rgba(245, 248, 249,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56.5%, rgba(245, 248, 249,1) 56.5%, rgba(245, 248, 249,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56.5%, rgba(245, 248, 249,1) 56.5%, rgba(245, 248, 249,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56.5%, rgba(245, 248, 249,1) 56.5%, rgba(245, 248, 249,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56.5%, rgba(245, 248, 249,1) 56.5%, rgba(245, 248, 249,1) 100%);

                @media $medium {
                    background: rgba(255,255,255,1);
                    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(245, 248, 249,1) 50%, rgba(245, 248, 249,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(245, 248, 249,1)), color-stop(100%, rgba(245, 248, 249,1)));
                    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(245, 248, 249,1) 50%, rgba(245, 248, 249,1) 100%);
                    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(245, 248, 249,1) 50%, rgba(245, 248, 249,1) 100%);
                    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(245, 248, 249,1) 50%, rgba(245, 248, 249,1) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(245, 248, 249,1) 50%, rgba(245, 248, 249,1) 100%);
                }

                @media $small {
                    background: white;
                }
            }

        }

    }

    &.fullscreen {

        height: 100vh;
        height: -webkit-fill-available;

        &.no-nav {
            .page {
                height: 100vh;
                height: -webkit-fill-available;

                @media $small {
                    height: auto;
                }
            }
        }

        &:not(.no-nav) {
            .page {
                height: "calc(100vh - %s)" % $top-nav-height;

                @media $small {
                    height: auto;
                    min-height: "calc(100vh - %s)" % $top-nav-height;
                }
            }
        }

    }

}

section.body {
    // min-height: calc(100vh - 4rem - 292px)
}

figure {
    margin:0;
}

.contain {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1400px;
    overflow-y: visible;
    @media $small {
        max-width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media $medium {
        max-width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &.thin {
        max-width: 900px;

        @media $small {
            max-width: 100vw;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @media $medium {
            max-width: 100vw;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

}

section {



}

.border {
    -webkit-box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
    -moz-box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
    box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
}

.border {
    -webkit-box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
    -moz-box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
    box-shadow: inset 0px 0px 0px 1px $color-mid-light-grey;
}

.rounded {
    border-radius: $border-radius;
}

.shadow {
    box-shadow: $shadow;
}
