body {

    &:not(.dashboard):not(.fullscreen){
        .page {
            min-height: calc(100vh - 14rem);

            & > .h-100 {
                min-height: calc(100vh - 14rem);
            }
        }

    }

    &.fullscreen {

        &.no-nav {
            .page {
                height: 100vh;

                @media $small {
                    height: auto;
                    min-height: 100vh;
                }
            }
        }

        &:not(.no-nav) {
            .page {
                height: "calc(100vh - %s)" % $top-nav-height;

                @media $small {
                    height: auto;
                    min-height: "calc(100vh - %s)" % $top-nav-height;
                }
            }
        }

    }

}

figure {
    margin:0;
}

.contain {
    overflow-y: visible;
    @media $small {
        padding: 0 2rem;
    }

    @media $medium {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

section {



}
