.logo {
    display: block;
    height: 2rem;
    width: auto;

    &.inline {
        display: inline;
        height: 1em;
    }

    &.lg {
        height: 2.5rem;
    }

    &.xl {
        height: 3rem;
    }

    &.xxl {
        height: 3.5rem;
    }
}
