modal {

    &-auto {

        & > section {

            header {
                background-color: #eeecec;
                border-bottom: 1px solid #d9d9d9;
            }

            section.body {
                background-color: #e2e2e2
            }

        }

    }

}
