
.nav {

    position: absolute;
    top:0;
    width: 100vw;
    height: $top-nav-height;
    z-index: 600;

    transition: top 0.3s ease, background-color 0.5s ease;
    background-color: rgba(255,255,255,0);

    &.auto-hide-shown {
        position: fixed;
    }

    &.no-auto-hide {
        position: relative;
    }

    .links {
        @media $small {
            display: none;
        }
    }

    .logo {
        @media $small {
            grid-column: 1 / span 3;
        }
    }

    div.link {
        // position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 100%;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 1.2rem;
        }

        .logo {
            padding: 0;
            text-align: left;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }

            img {
                height: 2rem;
                width: auto;
            }
        }

        .subitems {

            display: block !important;
            position: absolute;
            text-align: left;
            width:100vw;
            left: 0;

            height: auto;
            max-height:0px;
            overflow: hidden;

            transition: all 0.5s ease;

            &.in-view {
                max-height:100vh;
                opacity: 1;
            }

            .contain {
                max-width:1140px;
                padding: 1rem 0;
            }

            a {
                display: block;
                padding:0;
                margin-bottom: 1rem;
            }
        }
    }


}

    .burger {
        display: none;
        cursor: pointer;
        @media $small {
            display: flex;
        }
    }

.mega-menu {

    display: none;

    @media $small {
        display: block;
        position: fixed;
        text-align: left;
        top:0;
        left:0;
        transition: transform 0.3s ease;
        transform: translateX(-100vw);
        height: 100vh;
        width: 100vw;
        padding: 2.5rem;

        z-index: 700;

        div.link {
            display: block;
            margin-bottom: 2rem;

            a, .btn {
                display: block;
                font-size: 1.25rem !important;
            }
        }

        &.open {
            transform: translateX(0);
        }
    }



}
