.notification {

    color: $text-black;
    background-color: $color-light-grey;
    border-radius: $border-radius;
    box-shadow: $shadow-lg;
    top: auto;
    bottom: 1rem;

    .icon {
        display:flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 1.6rem;
    }

    @media $small {
        width: calc(100vw - 2rem);
        max-width: calc(100vw - 2rem);
    }

    &.error {
        color: white;
        background-color: #FF8C8D
    }

    &.success {
        color: $text-black;
        background-color: $color-light-grey;
    }

    &-bar {
        background-color: white;
        white-space: normal;
        position: fixed;
        top:0;
        right:0;
        width: 30em;
        height: 100vh;
        padding: 1.313rem;
        z-index: 500;
        box-shadow: $shadow;

        .notification-wrap {
            height: calc(100vh - 4rem);
            overflow-y: auto;
        }

        & * {
            white-space: normal !important;
        }
    }
}


.page-notification {
    background-color: $color-primary;
    color: white;
    text-align: center;
    font-size: 0.875rem;
    padding: 1rem;
}
