$desktop-1080p-width = 1920px;
$tablet-width = 1180px;
$phone-width = 851px;

$desktop-4k = '(min-width: '+$desktop-1080p-width+')'
$desktop-1080p = '(min-width: '+$tablet-width+') and (max-width: '+$desktop-1080p-width+')'
$desktop = '(min-width: '+$tablet-width+')'
$medium = '(min-width: '+ $phone-width +') and (max-width: '+$tablet-width+')'
$small = 'only screen and (max-width: '+ $phone-width +')'

$color-primary = #1dc7d5
$color-secondary = #1398a3

$color-light-grey = #f8f8f8
$color-mid-light-grey = #d2d6d9
$color-grey = #82888c
$color-red = #d51d22
$color-dark-grey = #33424b
$color-black = #444
$color-white = #fff

$text-primary = $color-primary
$text-secondary = $color-secondary
$text-black = $color-dark-grey
$text-light-grey = $color-light-grey
$text-grey = $color-grey
$text-white = $color-white

$bg-primary = $color-primary
$bg-secondary = $color-secondary
$bg-white = $color-white
$bg-light-grey = $color-light-grey
$bg-dark-grey = $color-dark-grey
$bg-black = $color-black

$shadow =  0px 15px 7px -10px rgba(0, 0, 0, 0.2);
$shadow-lg =  4px 17px 56px -5px rgba(0,0,0,0.75);
$border-radius = 6px

$top-nav-height = 4rem
