<% layout(config.site.theme+'/page.ejs') -%>

<section class="page">

    <div class="contain text-left h-100">

        <section class="grid col-2 col-s-1 gap-4 gap-s-1 h-100 mb-s-3">

            <%- include(view.basedir+'/components/transactions/views/partials/client_items.ejs') %>

            <div class="h-100 bg-white p-6 p-s-2">
                <%- include(view.basedir+'/components/transactions/views/partials/client_billing.ejs') %>
                <%- include(view.basedir+'/components/transactions/views/partials/client_shipping.ejs') %>
                <%- include(view.basedir+'/components/transactions/views/partials/client_gateways.ejs') %>
            </div>

        </section>
    </div>

</section>
