<% layout(config.site.theme+'/page.ejs') -%>

<section class="page">

    <div class="contain text-left h-100">

        <section class="grid col-2 col-s-1 gap-2 h-100">

            <%- JSON.stringify(transaction.data) %>

        </section>
    </div>

</section>
