.appointment {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    white-space: normal;
    font-size: 0.7rem;
    background: $dashboard-color-primary;
    color: white;
    padding: 1rem;
    // margin-left: "-%s" % $dashboard-side-nav-width;
    transition: 0.5s height ease;
    overflow: hidden;
    line-height: 1rem;


    .subject, .time {
        font-weight: 600;
    }

    .subject {
        font-size: 0.8rem;
    }

    .description {
        line-height: 1rem;
    }

    &.slots-1 {
        padding: 0rem 1rem;
        justify-content: center;
        .description, .time {
            display: none;
        }

        &.truncate .subject {
            width: 90%;
            max-height: 2rem;
            overflow: hidden;
            position: relative;
        }
    }

    &.slots-2 {
        justify-content: flex-start;
        .description {
            display: none;
        }

        &.truncate .subject {
            width: 90%;
            max-height: 2rem;
            overflow: hidden;
            position: relative;
        }
    }

    &.slots-3 {
        justify-content: flex-start;
        .description {
            // display: none;
        }

        &.truncate .subject {
            width: 90%;
            max-height: 2rem;
            overflow: hidden;
            position: relative;
        }
    }

    &.slots-4 {
        justify-content: flex-start;
        .description {
            // display: none;
        }

        &.truncate .subject {
            width: 90%;
            max-height: 2rem;
            overflow: hidden;
            position: relative;
        }
    }

    &.cancelled {
        background: $dashboard-color-mid-light-grey;
        color: $dashboard-color-grey;
    }

    &.staff_appointment {
        background: $dashboard-color-light-grey;
        color: $dashboard-color-grey;
    }

    &.unconfirmed {
        opacity: 0.5;
    }

    &.none {
        background: rgb(238, 206, 88);
        color: $dashboard-color-black;
    }

    &.grey {
        background: $dashboard-color-light-grey;
        color: $dashboard-text-black;
    }

    &.dark-grey {
        background: $dashboard-color-grey;
    }

    &.red {
        background: rgba(253,114,120,0.6);
    }

    &.green {
        background: rgba(114, 252, 132, 0.6);
    }

    &.blue {
        background: rgba(114, 177, 252, 0.6);
    }

}
