
.dashboard {
    .edit {

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap:2rem;

        &-wrap {
            background-color: white;
            padding: 3.125rem;
            overflow-x: hidden;
            overflow-y: auto;
            display: block;

            @media $small {
                padding: 0;
                background:none;
            }

        }

        label {
            color: $dashboard-color-secondary;
            font-weight: 700;
            &.bg-primary {
                color: $dashboard-color-white;
            }

            @media $small {
                color: $dashboard-text-black;
            }
        }

        input, textarea, select, date-picker {
            border-bottom: 1px solid #E3E3E3;
            padding: 0;
            margin: 0 0 1rem;
            color: $dashboard-color-dark-grey;
            background: none;

            &.no-style {
                border: none !important;
                height: auto !important;
                padding: 0 !important;
                font-size: 1rem !important;
            }
        }

        date-picker {
            .value {
                padding: 0 !important;

                &:before {
                    display: inline-block;
                    height: 1.2rem;
                    width: 1.2rem;
                    top:-2px;
                    margin-right: 0.5rem;
                    content:'';
                    background-color: $dashboard-color-primary;
                    -webkit-mask-image: url('/images/dashboard-icons/Icon-Calendar.svg');
                    mask-image: url('/images/dashboard-icons/Icon-Calendar.svg');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-position: center;
                    mask-position: center;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    vertical-align: middle;
                    position: relative;
                }

            }
        }

        input[type=text],input[type=password],input[type=number],input[type=email], select {
            height: 2.5rem
        }

        input[type=number], .field-price input[type=text], .field-adjustment input[type=text] {
            text-align: right;
        }

        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            margin-left: 0.5rem;
        }

        input[type=checkbox]{
            &:after {
                border: 1px solid #E3E3E3;
            }

        }

        & > div {
            grid-column-end: span 4;
        }

        .input {

            &-spacer {
                background-color: $dashboard-color-light-grey;
            }

            &-image {
                grid-row-end: span 4;

                img {
                    border-radius: $border-radius;
                }
            }

            &-img_array {
                grid-column-end: span 12;


                    display: block;
                    height: auto;

                    .img_array-wrap {
                        display: grid;
                        grid-gap: 3rem;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        width: 100%;
                        align-items: start;

                        .img_array-img {

                            position:relative;
                            height: 18rem;
                            width: 100%;
                            padding: 0;
                            border-radius: 6px;
                            overflow: hidden;

                            .icons {
                                opacity:0
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                padding: 1.5rem 1.5rem 0.5rem 1.5rem;
                                background: none;
                                transition: opacity 0.3s ease;

                                .icon-wrap {
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    top: 0;
                                    left: 0;
                                    height:2rem;
                                    width: 2rem;
                                    background-color: white;
                                    border-radius: 50%;

                                    .icon {
                                        margin:0;
                                    }
                                }

                                @media $medium {
                                    opacity: 1;
                                }

                                @media $small {
                                    opacity: 1;
                                }
                            }


                            &:hover .icons {
                                opacity: 1;
                            }
                        }

                    }


            }

            &-textarea {
                grid-column-end: span 12;
                grid-row-end: span 2;
            }

            &-checkbox {
                margin: 0 0 1rem;
                grid-column-end: span 2;

                & > div {
                    padding-top: calc((40px - 1.75rem) / 2);

                }
            }

            &-contenteditable {
                grid-column-end: span 12;

                &-wrap {
                    border-bottom: 1px solid #E3E3E3;
                    padding: 0 0 0.5rem 0;

                }

                .contenteditable:not(.small) {
                    min-height: 5rem;
                    background: none;
                    img {
                        margin: 1rem 0;
                    }
                }

            }

            &-array {

                grid-column-end: span 9;
                display: block;
                height: auto;
                padding: 0

                .input-array-wrap {
                    display: block;
                }

                .input-array-item {
                    display: flex;
                    align-items: center;
                    height: $dashboard-mobile-row-height;

                    input {
                        flex:1;
                        text-align: left;
                        margin: 0;
                    }
                    button {
                        background: none;
                        flex: 0 0 3rem;
                        padding: 0;
                        text-align: center;
                    }
                }

                .input-array-new {

                    height: $dashboard-mobile-row-height;
                    display: flex;
                    margin-top: 2rem;

                    input {
                        margin-left: 3rem;
                        text-align: left
                    }

                    .btn {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &-title {
                        margin-bottom: 1rem;
                    }

                }

            }

            &-object, &-model {

                label {
                    margin-top: 1rem;
                }

                &-array {

                    grid-column-end: span 12;

                    &-item {
                        margin-bottom: 2rem;
                        background-color: $dashboard-color-light-grey;
                        padding: 3.125rem;
                        border-radius: $border-radius;

                    }

                    &-wrap {

                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 2rem;

                        .array-item {

                            background-color: $dashboard-color-light-grey;
                            padding: 2rem;
                            display: block !important;
                            margin-bottom: 2rem;
                            border-radius: $border-radius;



                            &-remove {
                                text-align: right;
                                padding: 0;
                                border-bottom: 1px solid $dashboard-color-light-grey;
                                color: $dashboard-color-primary;
                            }

                        }

                    }

                    &-new {

                        display: block;

                        .array-item {

                            background-color: $dashboard-color-light-grey;
                            padding: 2rem;
                            display: block !important;
                            margin-bottom: 2rem;
                            border-radius: $border-radius;

                            &-remove {
                                text-align: right;
                                padding: 0;
                                border-bottom: 1px solid $dashboard-color-light-grey;
                                color: $dashboard-color-primary;
                            }

                            &-button {
                                margin-top: 2rem;
                            }

                        }

                    }

                    .input-image {

                        img {
                            height: 10rem;
                            object-fit: cover;
                        }

                    }

                    .array-item-new-title {
                        margin-bottom: 1rem;
                        color: $dashboard-color-secondary;
                        font-size: 0.875rem;
                        font-weight: 700;
                    }

                }

            }

            &-model-array-wrap {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                @media $medium {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

        }

        @media $small {
            display: block;
            padding: 1rem 0;
            background-color: white;

            & > div, .array-item-input > div {
                display: block;
                // height: $dashboard-mobile-row-height;

                padding: 0.5rem 1.5rem;

                & > *, .array-item-input > div > * {
                    display: block;
                    // align-items: center;

                    .float-right {
                        display: none;
                    }

                    &:first-child {
                        // flex: 10;
                        // justify-content: flex-start;
                    }
                    &:last-child {
                        // flex: 13;
                        // justify-content: flex-end;
                        // height: 100%;
                        // min-height: 100% !important;
                        text-align: left;
                        padding: 0;
                        font-size: 1rem !important;

                    }

                    img {
                        height: 10rem;
                        width:100%;
                        object-fit: cover;
                    }

                }

                select {
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid #EFEFEF;
                }

                input {


                    text-align: left;
                    padding: 0;
                    font-size: 1rem;
                    border-bottom: 1px solid #EFEFEF;


                }

                label {
                    color: $dashboard-color-secondary;
                    font-size: 0.875rem;
                    font-weight: 700;
                    margin-bottom: 0.3rem;
                }

                &.input-checkbox {
                    padding-bottom: 2.5rem;
                }

                &.input-textarea {
                    height: auto;
                    min-height: $dashboard-mobile-row-height;
                    display: block;

                    label {
                        display: block;
                    }
                    .input-contenteditable-wrap {
                        // min-height: 10rem;
                        padding-bottom: 1.75rem;
                        border:none;
                        text-align: left;
                    }
                }

                &.input-contenteditable, &.input-textarea {

                    display:block;
                    height: auto;

                    .contenteditable {
                        padding-bottom: 0.5rem;
                        border-bottom: 1px solid #EFEFEF;
                    }


                    .input-contenteditable-wrap {
                        text-align: inherit;
                        display: block;

                        img {
                            height: auto;
                            width: 100%;
                            object-fit: unset;
                        }
                    }
                }

                &.input-img_array {

                    padding-top: 1.5rem;
                    display: block;
                    height: auto;

                    .img_array-wrap {
                        padding-bottom: 1.5rem;
                        display: grid;
                        grid-gap: 1rem;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        align-items: start;

                        .img_array-img {
                            height: 33vw;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                    }

                }

                &.input-array {

                    display: block;
                    height: auto;
                    padding: 1.75rem 1.5rem;

                    .input-array-wrap {
                        display: block;
                    }

                    .input-array-item {
                        display: flex;
                        align-items: center;
                        height: $dashboard-mobile-row-height;
                        border-bottom: 1px solid #F4F6F8;

                        input {
                            flex:1;
                            text-align: left;
                            margin:0 !important;
                        }
                        button {
                            background: none;
                            flex: 0 0 3rem;
                            padding: 0;
                            text-align: center;
                        }
                    }

                    .input-array-new {
                        height: $dashboard-mobile-row-height;
                        input {
                            margin-left: 3rem;
                            text-align: left
                        }
                    }

                }



                &.input-object-array {

                    padding-top: 1.5rem;
                    display: block;
                    height: auto;

                    .array-item-title {
                        display: none;
                        font-size: 1.2rem;
                        padding-bottom: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    .array-item {
                        padding: 0;
                        display: block !important;
                        margin-bottom: 2rem;
                        border-radius: $border-radius;
                        background-color: $dashboard-color-light-grey;

                        .array-item-remove {

                            text-align: right;
                            padding: 1rem 1.5rem;
                            border-bottom: 1px solid $dashboard-color-light-grey;
                            color: $dashboard-color-primary;
                        }

                        &-input {
                            background: none;
                        }

                    }

                    .input-object-array-wrap, .input-object-array-new {
                        display: block;
                        text-align: left;
                    }

                    .input-object-array-new {

                        .array-item {
                            padding: 1.5rem;
                        }

                        .array-item-new-title {
                            font-size: 1.2rem;
                            padding-bottom: 1.5rem;
                        }

                        .array-item-button {
                            margin-top: 1.5rem;
                        }

                        .array-item-input > div {
                            padding: 0;
                        }
                    }

                    .input-model-array-wrap {
                        grid-template-columns: 1fr 1fr;

                        img {
                            width: 100%;
                        }
                    }

                }

            }

            .input-model-array-wrap {

                .array-item {
                    padding: 0 1.5rem !important;

                    &-remove {
                        padding: 1.5rem 0 !important;
                    }
                }

            }

        }

    }

}
