
.dashboard {
    .edit {

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap:2rem;

        &-wrap {
            background-color: white;
            padding: 3.125rem;
            overflow-x: hidden;
            overflow-y: auto;
            display: block;

            @media $small {
                padding: 0;
                background:none;
            }

        }

        label {
            color: $dashboard-color-grey;
            &.bg-primary {
                color: $dashboard-color-white;
            }

            @media $small {
                color: $dashboard-text-black;
            }
        }

        input, textarea, select {
            border: 1px solid #E3E3E3;
            border-radius: 4px;
            color: $dashboard-color-dark-grey;

            &.no-style {
                border: none !important;
                height: auto !important;
                padding: 0 !important;
                font-size: 1rem !important;
            }
        }

        input[type=text],input[type=password],input[type=number],input[type=email], select {
            height: 2.5rem
        }

        input[type=number], .field-price input[type=text], .field-adjustment input[type=text] {
            text-align: right;
        }

        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            margin-left: 0.5rem;
        }

        input[type=checkbox]{
            &:after {
                border: 1px solid #E3E3E3;
            }

        }

        & > div {
            grid-column-end: span 4;
        }

        .input {

            &-spacer {
                background-color: $dashboard-color-light-grey;
            }

            &-image {
                grid-row-end: span 4;
            }

            &-img_array {
                grid-column-end: span 12;


                    display: block;
                    height: auto;

                    .img_array-wrap {
                        display: grid;
                        grid-gap: 3rem;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        width: 100%;
                        align-items: start;

                        .img_array-img {

                            position:relative;
                            height: 18rem;
                            width: 100%;
                            padding: 1rem 1rem 1rem 1rem;
                            border: 1px solid $dashboard-color-mid-light-grey;
                            border-radius: 6px;

                            .icons {
                                opacity:0
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                padding: 1.5rem 1.5rem 0.5rem 1.5rem;
                                background-color: rgba(255,255,255,0.7);
                                transition: opacity 0.5s ease;

                                @media $medium {
                                    opacity: 1;
                                }

                                @media $small {
                                    opacity: 1;
                                }
                            }


                            &:hover .icons {
                                opacity: 1;
                            }
                        }

                    }


            }

            &-textarea {
                grid-column-end: span 12;
                grid-row-end: span 2;
            }

            &-checkbox {
                grid-column-end: span 2;
            }

            &-contenteditable {
                grid-column-end: span 12;

                &-wrap {
                    border: 1px solid #E3E3E3;
                    padding: 0 0.75rem 0.75rem 0.75rem;

                }

                .contenteditable:not(.small) {
                    min-height: 5rem;

                    img {
                        margin: 1rem 0;
                    }
                }

            }

            &-array {

                grid-column-end: span 9;
                display: block;
                height: auto;
                padding: 0

                .input-array-wrap {
                    display: block;
                }

                .input-array-item {
                    display: flex;
                    align-items: center;
                    height: $dashboard-mobile-row-height;

                    input {
                        flex:1;
                        text-align: left;
                    }
                    button {
                        background: none;
                        flex: 0 0 3rem;
                        padding: 0;
                        text-align: center;
                    }
                }

                .input-array-new {

                    height: $dashboard-mobile-row-height;
                    display: flex;
                    margin-top: 2rem;

                    input {
                        margin-left: 3rem;
                        text-align: left
                    }

                    .btn {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                }

            }

            &-object {

                label {
                    margin-top: 1rem;
                }

                &-array {

                    grid-column-end: span 12;

                    &-item {
                        margin-bottom: 2rem;
                        background-color: $dashboard-color-light-grey;
                        padding: 3.125rem;
                        border-radius: $border-radius;

                        &-title {
                            margin-bottom: 1rem;
                        }

                    }

                    &-wrap {

                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 2rem;

                        .array-item {

                            background-color: $dashboard-color-light-grey;
                            padding: 2rem;
                            display: block !important;
                            margin-bottom: 2rem;
                            border-radius: $border-radius;



                            &-remove {
                                text-align: right;
                                padding: 0;
                                border-bottom: 1px solid $dashboard-color-light-grey;
                                color: $dashboard-color-primary;
                            }

                        }

                    }

                    &-new {

                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 2rem;

                        .array-item {

                            background-color: $dashboard-color-light-grey;
                            padding: 2rem;
                            display: block !important;
                            margin-bottom: 2rem;
                            border-radius: $border-radius;

                            &-remove {
                                text-align: right;
                                padding: 0;
                                border-bottom: 1px solid $dashboard-color-light-grey;
                                color: $dashboard-color-primary;
                            }

                            &-button {
                                margin-top: 2rem;
                            }

                        }

                    }

                }

            }

        }

        @media $small {
            display: block;

            & > div, .array-item-input > div {
                display: flex;
                height: $dashboard-mobile-row-height;
                border-bottom: 1px solid #F4F6F8;
                padding: 0 1.5rem;
                background-color: white;

                & > *, .array-item-input > div > * {
                    display: flex;
                    align-items: center;
                    border: none !important;

                    .float-right {
                        display: none;
                    }

                    &:first-child {
                        flex: 10;
                        justify-content: flex-start;
                    }
                    &:last-child {
                        flex: 13;
                        justify-content: flex-end;
                        height: 100%;
                        min-height: 100% !important;
                        text-align: right;
                        padding: 0;
                        font-size: 1rem !important
                    }

                    img {
                        height: $dashboard-mobile-row-height;
                        width:$dashboard-mobile-row-height;
                        object-fit: cover;
                    }

                }

                select {
                    direction: rtl;
                }

                input {
                    border: none !important;
                    text-align: right;
                    padding: 0;
                    font-size: 1rem;

                    &[type=checkbox]:after {
                        left: -0.7rem;
                    }
                }

                &.input-textarea {
                    height: auto;
                    min-height: $dashboard-mobile-row-height;
                    display: block;

                    label {
                        display: block;
                        padding-top: 1.75rem;
                    }
                    .input-contenteditable-wrap {
                        min-height: 10rem;
                        padding: 1.75rem 0;
                        border:none;
                        text-align: left;
                    }
                }

                &.input-contenteditable {
                    padding-top: 2rem;
                    display:block;
                    height: auto;

                    .input-contenteditable-wrap {
                        text-align: inherit;
                        display: block;

                        img {
                            height: auto;
                            width: 100%;
                            object-fit: unset;
                        }
                    }
                }

                &.input-img_array {

                    padding-top: 1.5rem;
                    display: block;
                    height: auto;

                    .img_array-wrap {
                        padding-bottom: 1.5rem;
                        display: grid;
                        grid-gap: 1rem;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        align-items: start;

                        .img_array-img {
                            height: 33vw;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                    }

                }

                &.input-array {

                    display: block;
                    height: auto;
                    padding: 1.75rem 1.5rem;

                    .input-array-wrap {
                        display: block;
                    }

                    .input-array-item {
                        display: flex;
                        align-items: center;
                        height: $dashboard-mobile-row-height;
                        border-bottom: 1px solid #F4F6F8;

                        input {
                            flex:1;
                            text-align: left;
                        }
                        button {
                            background: none;
                            flex: 0 0 3rem;
                            padding: 0;
                            text-align: center;
                        }
                    }

                    .input-array-new {
                        height: $dashboard-mobile-row-height;
                        input {
                            margin-left: 3rem;
                            text-align: left
                        }
                    }

                }

                &.input-object-array {

                    padding-top: 1.5rem;
                    display: block;
                    height: auto;

                    .array-item-title {
                        display: none;
                        font-size: 1.2rem;
                        padding-bottom: 1.5rem;
                    }

                    .array-item {
                        background: none
                        padding: 0;
                        border: 1px solid #F4F6F8;
                        display: block !important;
                        margin-bottom: 2rem;
                        border-radius: $border-radius;

                        .array-item-remove {
                            background-color: $dashboard-color-light-grey;
                            text-align: right;
                            padding: 1rem 1.5rem;
                            border-bottom: 1px solid $dashboard-color-light-grey;
                            color: $dashboard-color-primary;
                        }

                    }

                    .input-object-array-wrap, .input-object-array-new {
                        display: block;
                        text-align: left;
                    }

                    .input-object-array-new {
                        padding-bottom: 1.5rem;

                        .array-item-new-title {
                            font-size: 1.2rem;
                            padding-bottom: 1.5rem;
                        }

                        .array-item-button {
                            margin-top: 1.5rem;
                        }

                        .array-item-input > div {
                            padding: 0;
                        }
                    }

                }

            }

        }

    }

}
