html, body {
    overflow-x: hidden;
}


.dashboard {

    display: none;

    &.loaded {
        display: flex;
    }

    font-family: 'Nunito', sans-serif;
    font-size: 1rem;

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Nunito', sans-serif;
    }

    color: $dashboard-color-dark-grey;
    background-color: $dashboard-bg-light-grey;

    width: 100vw;
    flex-direction: row;

    @media $small {
        font-size: 0.875rem;
        &.loaded {
            display: block;
        }
    }

    @media $small {
        &.fullscreen {
            overflow-y: hidden !important;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: italic;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-style: italic;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-style: italic;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-style: italic;
    }

    .placeholder-normal {
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-style: normal;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-style: normal;
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-style: normal;
        }
        :-moz-placeholder { /* Firefox 18- */
            font-style: normal;
        }
    }



    button, .btn {

        font-weight: bold;
        &.highlight {
            background-color: $dashboard-color-primary
        }

        &.border {
            background: none;
            border: 1px solid $dashboard-color-mid-light-grey;
            color: $dashboard-text-black;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
        }

        &-field {
            border: 1px solid $dashboard-color-mid-light-grey;
            border-width: 1px 1px 1px 0px;
            padding: 0 1rem !important;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
        }


    }

    & > .page {
        position: relative;
        z-index: 2;
        height: 100vh;
        min-height: 100vh;

        background-color: $dashboard-bg-light-grey;
        flex:1;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 0;
        text-align: left;
        transition: transform 0.5s ease;

        @media $desktop-4k {

        }
        @media $desktop-1080p {

        }

        @media $desktop {

        }

        @media $medium {

        }

        @media $small {

            height:auto;
            min-height: 100vh;
            flex: 0 0 100vw;
            display: block;
            overflow-y: hidden;
            overflow-x: hidden;
            padding: 0rem 0rem 5rem 0;
            transition: transform 0.3s ease;
            transform: translateX(0);

            &.expand {
                transform: translateX(100vw);
            }

        }

        .actions {
            flex: 0 1 auto;
            height: $dashboard-mobile-tabs-height;

            @media $small {
                height: auto;
                flex: none;
                max-height: none;
            }
        }

        .table-wrap, .edit-wrap, .grid-wrap, .list-wrap {
            flex: 1;
        }

        &-full {
            margin: -2rem;
            height: 100vh;
        }

    }

    h1 {
        font-size: 1.375rem;
        font-weight: bold;

        @media $small {
            font-size: 1.125rem;
        }
    }

    button, .btn {

        height: 2.5rem;
        border-radius: 1.25rem;
        font-family: inherit;
        font-size: 0.875rem;

        &.context-menu {
            height: 2.5rem;
            width: 2.5rem;
            background-color: $dashboard-color-light-grey2;
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $dashboard-color-grey;

            &:hover {
                color: $dashboard-color-primary;
            }
        }

        &.bg-white {
            color: $dashboard-text-black;
        }

        &.bg-primary {
            background-color: $dashboard-color-primary;
        }

        &.bg-secondary {
            background-color: $dashboard-color-secondary;
        }

        &.no-radius {
            border-radius: 0;
        }

    }

    .button-wrap {
        button, .btn {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: 1.25rem;
                border-bottom-left-radius: 1.25rem;
            }

            &:last-child {
                border-top-right-radius: 1.25rem;
                border-bottom-right-radius: 1.25rem;
                padding-left: 1rem;
            }
        }
    }

    .header {

        display: flex;
        background:none;
        color: $dashboard-text-black;
        border-bottom: 1px solid #D7DDDE;
        flex: 0 0 $dashboard-header-height;

        h1, h1 a {

        }

        @media $desktop {
            padding: 0 2rem 0 1.5rem;
        }

        @media $medium {
            padding:0 1.5rem;
        }

        @media $small {
            flex: 0 0 $dashboard-mobile-row-height;
            height: $dashboard-mobile-row-height;
            padding: 0 1.5rem;
        }

        .burger {

            display: none;

            &.visible {
                flex: 0 0 2.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .icon {

            }

            @media $small {
                flex: 0 0 2.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

        }

        .title {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;

            a {
                color: $dashboard-text-black
            }

            a.btn {
                color: $dashboard-text-white;
            }

            @media $small {
                .search {
                    display: none;
                }
            }

            .burger {
                display: block;
                color: $dashboard-text-black;
                font-size: 1.25rem;
                margin-right: 1.2rem;

            }

        }

        .buttons {
            flex: 1;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            overflow: hidden;

            &.hidden-d, &.hidden-m {
                @media $desktop {
                    display: none;
                }
                @media $medium {
                    display: none;
                }
            }

            &.hidden-s {
                @media $small {
                    display: none;
                }
            }

            .btn {
                margin-left: 0;
                margin-left: 0.875rem;
                background-color: $dashboard-color-secondary;
                color: $dashboard-text-white;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: lighten($dashboard-color-secondary, 5);
                }

                .icon {
                    margin-left:0.5rem;
                }

                @media $small {

                    padding: 0;
                    display: inline-flex;
                    width: 2.5rem;

                    .text {
                        display: none;
                    }

                    .icon {
                        height: 1.3rem;
                        width: 1.3rem;
                        margin:0;
                    }

                }
            }

        }


        .search {

            flex: 0 0 2.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            margin-left: 0.875rem;

            &-wrap {
                height: 2.5rem;
                width: 100%;
                background-color: $dashboard-color-white;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-align: right;
            }

            input {
                display: none;
                width: 100%;
                padding: 0 0 0 1rem;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

            .icon {
                height: 1.3rem;
                width: 1.3rem;
                flex: 0 0 2.5rem;
                background-color: $dashboard-color-primary;
            }

        }

        &.search-expand {

            .burger {
                flex: 0 0 0;
                display:none;
            }

            .title {
                flex: 0 0 0;
            }

            .buttons {
                flex: 0 0 0;
            }

            & > .search {
                flex: 0 0 100%;
                margin-left: 0;

                @media $small {
                    flex: 0 0 100%;
                }

                input {
                    display: block;
                }
            }


        }

    }

    .actions {

        display: flex;
        flex-direction: row;

        & > .search {
            flex: 0 0 17.5rem;
            height: 100%;
            transition: all 0.5s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            height: 2.8125rem;
            border-top-right-radius:$border-radius;
            border-top-left-radius:$border-radius;
            padding: 0 1.2rem;

            &.focused {
                flex: 1;
            }

            input {

            }

            .icon {
                background-color: $dashboard-color-grey;
                font-size: 1.5rem;
            }
        }

        @media $small {

            .search {
                display: none;
            }
        }
    }

    .widget {
        background-color: #fff;
        padding: 2rem;
        box-shadow: $shadow;
        border-radius: 5px;
        min-height: 300px;
        overflow-y: auto;

        .note {
            font-size: 0.875rem;
            background-color: #f2f2f2;
            padding: 1rem;
            margin-bottom: 0.875rem;
            border-radius: 5px;

            .title {
                font-weight: 600;

                .date {
                    opacity: 0.5;
                }
            }
        }
    }

    .authentication {

        &.wrapper {

            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: $dashboard-color-light-grey;

            @media $small {
                grid-template-columns: 1fr;
            }

        }

        h1 {
            font-size: 1.75rem;
        }

        .logo-wrap {
            margin-top: 9rem;
            text-align: center;
            width: 100%;
            color: #CED1D5

            .icon {
                background-color: #CED1D5
            }
        }

        .col-form {

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            position: relative;

            .form {
                position: relative;
                text-align: center;
                width: 360px;
                height: 80vh;
                margin: 0 auto;

                .error {
                    display: block;
                    background-color: $dashboard-color-red;
                    padding: 1rem 2rem;
                    border-radius: $border-radius;
                    color: white;
                    margin-bottom: 2rem;
                }

                .cmslogo {
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 1rem);
                }
            }



            @media $small {
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0 1.5rem;
                .form {
                    width:100%;
                    height: 90vh;
                }
            }

        }

        .col-image {
            background-color: white;
            background-position: center center;
            background-size: cover;
        }

    }

}
