modal {

    &-auto {

        & > section {

            border-radius: $border-radius;

            header {
                background-color: $dashboard-color-light-grey2;
                border-bottom: none;
                flex: 0 0 5rem;

                & > div:first-child {
                    font-size: 1.375rem;
                }

            }

            section.body {
                padding:0 2rem 2rem 2rem;
                background-color: $dashboard-color-light-grey;

                // max-width: 60vw;

                .tabs {
                    background-color: $dashboard-color-light-grey;
                }

                @media $small {
                    max-width: 80vw;
                }

                @media $small {
                    max-width: 100vw;
                    padding-bottom: 8rem;
                }
            }

        }

        &.tabbed {
            & > section {
                section.body {
                    padding: 0;
                }
            }
        }

        &.body-white {
            & > section {
                section.body {
                    background-color:white;
                }
            }
        }

    }

}
