modal {

    &-auto {

        & > section {

            border-radius: $border-radius;

            header {
                background-color: $dashboard-bg-light-grey;
                border-bottom: none;
                flex: 0 0 5rem;

                & > div:first-child {
                    font-size: 1.375rem;
                }

            }

            section.body {
                padding-top:0;
                background-color: $dashboard-bg-light-grey;

                @media $small {
                    padding-bottom: 8rem;
                }
            }

        }

    }

}
