<% if (typeof fields == 'undefined') { %>

    <% columns.forEach((item)=>{ %>
        <input type="text" app-model="new.<%- item %>">
    <% }) %>

<% } else if (typeof fields == 'object') { %>

    <% for (var tab in fields){ %>

        <% if (Array.isArray(fields[tab])) { %>

            <div app-show="view.edit_tab == '<%- tab %>'" class="edit tab-<%- view.functions.parseSnake(tab) %>">

                <% fields[tab].forEach((item,i) => { %>

                    <% var max_characters = ""; max_chars_text = ""; %>
                    <% if (typeof item.truncate != 'undefined'){ %>
                        <% max_characters = '<div class="float-right text-small pr-1"><span app-bind="new.'+ item.name +'.length"></span>/'+item.truncate+' chars</div>' %>
                    <% } %>

                    <%- include(view.basedir+'/themes/default/partials/input_fields/include_fields.ejs', {item:item, max_characters:max_characters}) %>

                <% }) %>

            </div>

        <% } %>

    <% } %>

<% } %>
