<% layout(config.site.theme+'/page.ejs') -%>


<section class="category breadcrumbs">
    <div class="contain">
        <h1 class="">Categories</h1>
    </div>
</section>


<section class="contain py-6">


        <% if (shop.description){ %>
            <div class="contain py-6">
                <p class="h6 lh2"><%- shop.description %></p>
            </div>
        <% } %>



    <% if (Array.isArray(categories)){ %>

        <div class="grid col-2 col-s-1">

            <% categories.forEach((category,i)=>{ %>

                <% if (category != null && typeof category.slug == 'string'){ %>

                    <%- include('partials/category_thumb.ejs',{category:category}) %>

                <% } %>

            <% }) %>

        </div>

    <% } %>

</section>
