<section class="<% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Carousel" app-block-description="This is a carousel block">

    <div class="contain <%- data.container_classes %>"  app-input="none" app-field="container" app-styling="container_class">

        <div class="carousel" data-auto-slide="5">

            <div class="arrow arrow-left dark" onclick="chgSlide(this,'prev')"></div>

            <div class="slides">

                <div class="slide">
                    <h2>Test Slide One</h2>
                    <p>I can’t speak highly enough of Bury Music. My daughter spent many Saturdays over the best part of 8 or 9 years making great music and lifelong friends.</p>
                </div>

                <div class="slide">
                    <h2>Test Slide Two</h2>
                    <p>I can’t speak highly enough of Bury Music. My daughter spent many Saturdays over the best part of 8 or 9 years making great music and lifelong friends.</p>
                </div>

                <div class="slide">
                    <h2>Test Slide Three</h2>
                    <p>I can’t speak highly enough of Bury Music. My daughter spent many Saturdays over the best part of 8 or 9 years making great music and lifelong friends.</p>
                </div>
            </div>

            <div class="arrow arrow-right dark" onclick="chgSlide(this,'next')"></div>
            <div class="dots"></div>

        </div>

    </div>

</section>
