<section class="<% if (typeof styling != 'undefined' && styling.background){ %><%- styling.background.class %><% } %>" style="<% if (typeof styling != 'undefined'){ %><%- functions.parseStyle(styling) %><% } %>" app-block="Carousel" app-block-description="This is a carousel block">


        <div class="carousel light align-middle" data-auto-slide="5" app-init="get('products')">

            <div class="arrow arrow-left" onclick="chgSlide(this,'prev')"></div>

            <div class="slides">

                <div class="slide text-33-white" app-for="product in products">
                    <div class="contain <%- data.container_classes %>"  app-input="none" app-field="container" app-styling="container_class">

                        <h2 app-bind="product.name"></h2>
                        <p app-bind="product.description"></p>
                        <a app-attr="{'href':product.url}" class="btn bg-primary thick rounded mt-1">View More</a>

                    </div>
                </div>

            </div>

            <div class="arrow arrow-right" onclick="chgSlide(this,'next')"></div>
            <div class="dots"></div>

        </div>


</section>
